<soap:Envelope soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <soap:Body>
    <TicketUpdate xmlns="http://www.otrs.org/TicketConnector/">
      <UserLogin xsi:type="xsd:string"><%= login%></UserLogin>
      <Password xsi:type="xsd:string"><%= password %></Password>
      <TicketNumber><%= ticketNumber %></TicketNumber>
      <Ticket>
        <Owner><%= login %></Owner>
        <State><%= state %></State>
      </Ticket>
      <Article>
        <ArticleType>note-external</ArticleType>
        <SenderType>agent</SenderType>
        <From>"<%= fullname %>" &lt;<%= login %>@trt1.jus.br&gt;</From>
        <Subject><%= subject %></Subject>
        <Body><%= body %></Body>
        <Cc />
        <Charset>utf8</Charset>
        <MimeType>text/plain</MimeType>
      </Article>
    </TicketUpdate>
  </soap:Body>
</soap:Envelope>
